<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>csvManipulator</title>
</head>
<body>
  <p>Hello World</p>
  <button onclick="loadFiles()">Adicionar as Informações</button><br>
  <button onclick="loadList()">Ver as Informações</button><br>
  <table id="personList">
    <tr>
      <th>Perfil</th>
      <th>Nome</th>
      <th>Empresa <input type="text" v-model="qCompany" placeholder="filtrar"></th>
      <th>Tempo</th>
      <th>Local <input type="text" v-model="qLocation" placeholder="filtrar"></th>
    </tr>
    <tr v-for="p in personFilter">
      <!--<td><a href onclick="openInBrowser()" data-target="p.url">Ln</a></td>-->
      <td><a href @click="openInBrowser(p.url)">Ln</a></td>
      <td>{{p.name}}</td>
      <td>{{p.company}}</td>
      <td>{{p.time}}</td>
      <td>{{p.local}}</td>
    </tr>
  </table>
  <script src="../lib/vue.js"></script>
  <script>
    const
      electron = require('electron'),
      openEx   = electron.shell.openExternal,
      ipcRenderer = electron.ipcRenderer;

    let
     personList = new Vue({
       el:'#personList',
       data: {
         qCompany : '',
         qLocation: '',
         persons  : []
       },
       methods: {
         openInBrowser: function(url){
           openEx(url);
         }
       },
       computed: {
         personFilter: function(){
           let self = this;
           return self.persons.filter(function(p){
            let companyQuery = new RegExp(self.qCompany, 'i');
            let locationQuery = new RegExp(self.qLocation, 'i');
            return (
              companyQuery.test(p.company)
              && locationQuery.test(p.local)
            );
           })
         }
       }
     })
     path = ''; // not using

    ipcRenderer.on('set_bgcolor', function(event, color){
      document.body.style.backgroundColor = color;
    });
    ipcRenderer.on('set_personList', function(event, list){
      personList.persons = list.persons;
    });
    function loadList(){
      ipcRenderer.send('get_personList', 0);
    }
    function loadFiles(){
      ipcRenderer.send('readCsvFiles', path);
    }
    function openInBrowser(s){
      console.log(s);
    }
  </script>
</body>
</html>